:root {
    --header-bg: #3498db;
    --header-text: #fff;
    --bg-colour: #ecf0f1;
    --main-text-colour: #333333;
    --accent-colour: rgb(255, 74, 3, 0.5);
    --border-colour: #bdc3c7;
}

.library {
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--border-colour);
    padding: 0.5rem;
}

th {
    background: var(--header-bg);
    color: var(--header-text);
}

header {
    background: var(--header-bg);
    color: var(--header-text);
    width: 100%;
    text-align: center;
    padding: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-colour);
    color: var(--main-text-colour);
}

.button-container {
    margin: 1rem 0;
}

button {
    border: none;
    background: var(--accent-colour);
}

.bookDialog {
    max-width: 50%;
}

.dialogForm {
    display: grid;
    grid-template-rows: repeat(6, 30px);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "head head"
    "tLabel tInput"
    "aLabel aInput"
    "pLabel pInput"
    "rLabel rInput"
    "addForm closeForm";
    align-items: center;
    gap: 10px;   
}

.dialogForm p{
    grid-area: head;
    justify-self: center;
}
#titleLabel {
    grid-area: tLabel;
}
#title {
    grid-area: tInput;
}
#authorLabel {
    grid-area: aLabel;
}
#author {
    grid-area: aInput;
}
#pagesLabel {
    grid-area: pLabel;
}
#pages {
    grid-area: pInput;
}
#readLabel {
    grid-area: rLabel;
}
#read {
    grid-area: rInput;
}
#add {
    grid-area: addForm;
    width: 80px;
    justify-self: center;
}
#formClose {
    grid-area: closeForm;
    width: 80px;
    justify-self: center;
}